* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}
.visible-borders {
  border: 1px solid #000;
  border-style: dashed;
  border-radius: 3px;
}
.visible-borders.red {
    border-color: red !important;
}
.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  border: 1px solid #000;
  border-style: dashed;
  border-radius: 3px;
  padding: 50px;
}
app-home,
app-signin {
  display: flex;
  height: 100%;
}